.users {
    display: flex;
 }
 
 .users__container {
     width: 100%;
     height: 858px;
     border-right: 0.423704px solid rgba(215, 211, 211, 0.49);
 }
 
 .users__info-container {
     display: flex;
     margin-bottom: 32px;
     
 }
 
 .users__title {
     flex: 1 1 auto;
     font-family: 'Inter', sans-serif;
     font-size: 20px;
     line-height: 25 / 20 * 100%;
     color: #D7D3D3;
 }
 
 
 
 .users__search {
     font-family: 'icons';
     font-size: 20px;
     display: flex;
 }
 
 
 
 
 
 /* ========================== Иконки ========================== */
   
 
   
   ._icon-1:before {
     content: "\e900";
     color: #adaeaf;
   }
   ._icon-Vector-2:before {
     content: "\e901";
     color: #adaeaf;
   }
   ._icon-uniE902:before {
     content: "\e902";
     color: #d7d3d3;
   }
   
 
   /* ==========================  ========================== */
 
 .user-message {
     font-family: 'Inter', sans-serif;
     display: flex;
     align-items: center;
 }
 
 .message {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
 }
 
   
 
 
   
 
 
