.header {
  
}
.header__container {
    height: 50px;
    width: 1046px;
    border-bottom: 0.423704px solid rgba(215, 211, 211, 0.49);
    display: flex; 
    align-items: center;
    padding: 0px 25px 0px 25px;
}


.header__logo {
    flex: 1 1 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #E8E8E8;
}


@media (max-width: 1025px) {
    .header__container {
        max-width: 100%;
    }  
    .header__logo {
        text-align: center;   
    }
}