@font-face {
    font-family: 'icons';
    src:
      url('./../public/fonts/icons.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

/* ========================== Обнуление стилей ========================== */

* {
    padding: 0;
    margin: 0;
    border: 0; }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  :focus, :active {
    outline: none; }
  
  a:focus, a:active {
    outline: none; }
  
  nav, footer, header, aside {
    display: block; }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }
  
  input, button, textarea {
    font-family: inherit; }
  
  input::-ms-clear {
    display: none; }
  
  button {
    cursor: pointer; }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  
  ul li {
    list-style: none; }
  
  img {
    vertical-align: top; }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit; }
  
/* ==========================  ========================== */

.chat {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(67, 165, 247, 0.51) 0%, rgba(18, 53, 151, 0.45) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.chat__window {
    margin: 0 auto;
    background: #1E1D1D;
    position: relative;
    
    
}

.completed {
  display: none;
  position: absolute;
  top: -100%;
  width: 0px;
  height: 0px;
  z-index: 0;
  background: unset;
}


.asq-your-name {
  position: absolute;
  width: 80%;
  height: 100%;
  width: 1046px;
  z-index: 5;
  background: #b6deff;
}

.asq-your-name__form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.asq-your-name__name {
  font-size: 25px;
  padding-bottom: 25px;
  text-align: center;
  line-height: calc(30 / 25 * 100%)
}

.asq-you-name__input {
  line-height: calc(20 / 15 * 100%);
  font-size: 15px;
  width: 495.73px;
  height: 35px;
  background: #E9E7E7;
  border-radius: 4.23704px  0  0 4.23704px;
  padding-left: 15px;
}

.asq-your-name__btn { 
  width: 85px;
  height: 35px;
  line-height: calc(20 / 15 * 100%);
  font-size: 15px;
  border-radius: 0 4.23704px 4.23704px 0;
  background: #2599FA;
  font-weight: 500;
  font-size: 14.8296px;
  line-height: calc(20 / 14 * 100%);
  color: #FFFFFF;
}

