.text-area {
  width: 100%;
  position: absolute;
  bottom: 2%;
  padding: 0px 15px 0px 15px;
}
.text-area__container {
  width: 100%;
  height: 94.27px;
  background: #212223;
  border: 0.52963px solid #818385;
  border-radius: 8.47407px;
  resize: none;
  outline: none;
  padding: 12px 0px 0px 12px;
  font-weight: 400;
  font-size: 14.8296px;
  line-height: calc(18 / 14 * 100%);
  color: rgba(236, 236, 236, 0.904);
}
@media (max-width: 1125px) {
  .text-area {
    max-height: 30%;
  }
}
